body{
    background-color: #FAFAFA;
    font-size: 16px;
    padding-top: calc(80px + 60px);
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

.u-fat-text{
    font-weight: 600;
}